*{
  box-sizing: border-box;
}

*:focus{
  outline: 3px dotted #0A775F;
  outline-offset: 2px;
}

body{
  /* height: 100%; */
  color: #fff;
  background-color: #f2f2f2;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

.container{
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


.wrapper {
  background-image: url(../images/Bitmap-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.site-header {
  padding-top: 64px;
  padding-bottom: 64px;
}

.news-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-logo-link {
  display: flex;
}

.site-header-logo-img {
  width: 192px;
  height: 32px;
}


.sitenav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.sitenav-item {
  margin-left: 32px;
}

.sitenav-item-link {
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.sitenav-item-link:hover{
  border-bottom: 2px solid #fff;
  border-width: 2px;
}

.site-hero {
  padding-top: 66px;
  padding-bottom: 146px;
  margin-bottom: 160px;
}

.site-hero-heading {
  width: 650px;
  margin: 0;
  padding: 40px;
  font-size: 72px;
  line-height: 70px;
  font-weight: 300;
  border: 2px solid white;
  text-transform: uppercase;
}

.main-container{
  padding-top: 183px;
  padding-left: 570px;
  background-image: url(../images/Bitmap.jpg);
  background-repeat: no-repeat;
  margin-bottom: 184px;
}

.site-interaktiv {
  margin: 0;
  padding-top: 96px;
  padding-left: 96px;
  width: 541px;
  background-color: #fff;
  color: #000;
}

.site-interaktiv-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
  text-transform: uppercase;
}

.site-interaktiv-text{
  margin: 0;
  opacity: 0.5;
}


/* SITE-FEATURE  */

.site-footer{
  margin-top: 184px;
}

.site-feature-box {
  display: flex;
  margin-bottom: 80px;
  justify-content: space-between;
  align-items: center;
}

.site-feature-box-title {
  margin: 0;
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
  color: #000;
  margin-right: 10px;
}

.site-feature-box-link {
  padding: 13px 40px;
  border: 1px solid #000;
  color: #000;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
}

.site-feature-box-link:hover{
  color: #fff;
  background-color: #000;
}

.site-feature-box-link:active{
  opacity: 0.6;
}

.site-feature-list {
  display: flex;
  margin-top: 0;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  margin-bottom: -30px;
}

.site-feature-item {
  background-color: rgba(255, 255, 255, 0.7507);
  margin-right: 30px;
  margin-bottom: 30px;
}

.site-feature-link{
  display: inline-block;
  width: 255px;
  padding: 354px 40px 32px;
  margin: 0;
  font-size: 32px;
  line-height: 32px;
  color: #fff;
  text-decoration: none;
}

.site-feature-link:hover{
  opacity: 0.25;
}

.site-feature-item-one{
  background-image: url(../images/deep.jpg);
}

.site-feature-item-two{
  background-image: url(../images/night_arcade.jpg);
}

.site-feature-item-three{
  background-image: url(../images/soccer.jpg);
}

.site-feature-item-four{
  background-image: url(../images/the_grid.jpg);
}

.site-feature-item-five{
  background-image: url(../images/from.jpg);
}

.site-feature-item-six{
  background-image: url(../images/pocket.jpg);
}

.site-feature-item-seven{
  background-image: url(../images/the_curriosity.jpg);
}

.site-feature-item-eight{
  background-image: url(../images/make.jpg);
}

.site-feature-item:nth-child(4){
  margin-right: 0;
}

.site-feature-item:nth-child(8){
  margin-right: 0;
}



  /* SITE-FOOTER */

.site-footer{
  background-color: #000;
}

.footer-container {
  display: flex;
  padding-top: 44px;
  padding-bottom: 44px;
  justify-content: space-between;
  align-items: center;
}

.site-footer-logo-link {
  display: flex;
  margin-bottom: 24px;
  flex-shrink: 0;
}

.site-footer-logo-img {
  display: inline;
  width: 144px;
  height: 24px;
}

.sitenav-item-footer {
  margin-right: 32px;
}

.footer-right-box {
  display: flex;
  justify-content: right;
  margin-bottom: 24px;
}

.site-footer-right-icon-link{
  display: flex;
  text-decoration: none;
  margin-right: 16px;
}

.site-footer-right-icon-img {
  width: 24px;
  height: 24px;
}

.site-footer-right-icon-link-four{
  margin-right: 0;
}

.footer-right-block-text {
  margin: 0;
  opacity: 0.5;
  font-weight: 400;
}



/* RETINA EKRAN  */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .wrapper{
    background-image: url(../images/Bitmap-hero@2x.jpg);
  }

  .main-container{
    background-image: url(../images/Bitmap@2x.jpg);
  }


.site-feature-item-one{
  background-image: url(../images/deep@2x.jpg);
}


.site-feature-item-two{
  background-image: url(../images/night_arcade@2x.jpg);
}


.site-feature-item-three{
  background-image: url(../images/soccer@2x.jpg);
}


.site-feature-item-four{
  background-image: url(../images/the_grid@2x.jpg);
}


.site-feature-item-five{
  background-image: url(../images/from@2x.jpg);
}


.site-feature-item-six{
  background-image: url(../images/pocket@2x.jpg);
}


.site-feature-item-seven{
  background-image: url(../images/the_curriosity@2x.jpg);
}

.site-feature-item-eight{
  background-image: url(../images/make@2x.jpg);
}
}